@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #fff;
  height: 100vh;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
}

.telephone,
.location,
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #222;

  height: 70px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#telephone-img,
#location-img {
  margin-right: 2px;
}

#telephone,
#location,
#pizza-sushi-track,
#news {
  color: #fff;
}

#location,
#pizza-sushi-track,
#news,
#telephone {
  font-weight: bold;
}

#pizza-sushi-track-a,
#news-a {
  text-decoration: none;
}

.telephone,
.location,
.pizza-sushi-track {
  margin-right: 40px;
}

#login {
  margin-right: 10px;
}

#news {
  color: #d52424;
}

#login,
#item-creator {
  border: 1px solid #444;
  border-radius: 22px;

  color: #fff;
  font-weight: bold;

  background-color: #444;

  padding: 14px;

  cursor: pointer;

  transition: background-color 0.3s ease, border 0.3s ease;
}

#login:hover,
#item-creator:hover {
  background-color: #555;
  border: 1px solid #555;
}

.stick {
  background-color: #fff;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
}

.image-sticky-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 215px;
}

.image-sticky {
  width: 70%;
  height: auto;
  margin-bottom: 15px;
}

.sticky-text {
  flex: 1;
  height: 100%;

  margin-left: 40px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sticky-text-animation {
  display: inline-block;

  cursor: pointer;

  transition: transform 0.3s ease;
}

.sticky-text-animation:hover {
  transform: scale(1.1);
}

.cart {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-positioning {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #bababa;
  border-radius: 32px;
}

.cart-img {
  height: 40px;
  width: 40px;

  background-color: #4f4f4f;

  border-radius: 32px;

  margin-right: 2px;

  border: none;

  cursor: pointer;
}

#cart-img-text {
  color: #fff;
}

.button-cart-img {
  margin-left: 2px;
}

.cart-order {
  height: 40px;
  width: 100px;

  border-radius: 32px;

  background-color: #fe0021;

  font-size: 0.8rem;
  color: #fff;

  border: none;

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.cart-order:hover {
  background-color: #be171b;
}

.wrapper-slider {
  width: 1100px;
  overflow: hidden;

  margin: 0 auto;
  margin-bottom: 20px;

  border-radius: 40px;
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 40px;

  background-color: rgb(101, 101, 219);
}

.slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  margin-bottom: 20px;
}

.dot {
  height: 10px;
  width: 10px;

  background-color: #e3e3e3;

  border-radius: 100px;

  cursor: pointer;
}

.dot-active {
  background-color: #fe0021;
}

.filter-sort {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 20px;
}

.filter {
  width: 240px;

  padding: 5px;
  margin-left: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  border: 1px solid #d9d9d9;
  border-radius: 85px;

  font-size: 14px;

  cursor: pointer;

  transition: border-color 0.3s ease;
}

.filter-svg {
  transform: scale(0.8);
}

.filter:hover {
  border-color: #4f4f4f;
}

.sort {
  width: 240px;

  padding: 11px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  border: 1px solid #d9d9d9;
  border-radius: 85px;

  font-size: 14px;

  transition: border-color 0.3s ease;
}

.sort-text {
  display: flex;
  flex: 1 1 0%;
  justify-content: start;

  padding-left: 15px;
}

.sort-arrow {
  width: 12px;
  height: 7px;
}

.sort:hover {
  border-color: #4f4f4f;
}

.title-pizza {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  font-weight: 500;

  margin-bottom: 15px;
}

.new-pizza {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjust as needed */
  grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));

  gap: 20px;

  height: 100%;

  margin: 20px;
}

.item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 15px;

  overflow: hidden;

  transition: box-shadow 0.25s ease 0s;
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 28px;
}

.pizza-information {
  text-align: center;
  padding: 8px;
}

.pizza {
  width: 100%;

  object-fit: cover;
}

.title {
  font-size: 24px;
  line-height: 36px;
}

.under-title {
  font-size: 14px;
}

.button-pizza {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: 1px solid #bebebe;
  border-radius: 22px;

  background-color: #fff;

  flex-grow: 1;

  font-size: 13px;

  margin: 5px;

  height: 35px;
  width: calc(33.33% - 10px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button-active {
  background-color: #4f4f4f !important;
  color: #fff !important;
}

.dough {
  display: flex;
}

.dough > p {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  margin-right: 5px;
}

.bort {
  display: flex;
  margin-bottom: 20px;
}

.bort > p {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;
  margin-right: 5px;
}

.text-dough-bort {
  width: 50px;
  align-self: center;
}

.price-cart {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.to-cart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 40px;

  background-color: #fe0021;
  color: #fff;

  border-radius: 100px;

  margin-left: 20px;

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.to-cart:hover {
  background-color: #be171b;
}

.to-cart-svg {
  margin-right: 10px;
  transform: scale(0.9);
}

main {
  overflow: hidden;
}

footer {
  background-color: #222;

  display: flex;
  justify-content: center;

  padding: 40px;
  gap: 100px;
}

.download-app-text {
  margin-bottom: 20px;
}

.download-app-img {
  width: 200px;
  margin-bottom: 10px;
}

#download-app-text {
  color: #fff;
  font-size: 0.6rem;
}

.download-app-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 5px;
}

.news-footer {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.news-footer-text {
  color: #fff;
}

.services {
  display: flex;
  flex-direction: column;

  gap: 15px;

  color: #fff;
}

#services,
#services-payment-text {
  font-weight: bold;
}

.services-other,
.services-other-2 {
  display: flex;
  gap: 6px;
}

.services-other-2 {
  margin-bottom: 10px;
}

#services-payment-text {
  margin-bottom: 5px;
}

.services-payment-img {
  width: 50px;
}

.services-payment-img-margin {
  margin-right: 20px;
}

.useful-info {
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.useful-info-text {
  font-weight: bold;
  margin-bottom: 3px;
}

.other-info-footer {
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.other-info-footer-phone {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.other-info-footer-phone-2 {
  font-size: 0.7rem;
}

.other-info-footer-location {
  display: flex;
}

.other-info-footer-button-wrapper {
  display: flex;
  gap: 10px;
}

.other-info-footer-button {
  border: 1px solid #444;
  border-radius: 22px;

  color: #fff;
  font-weight: bold;

  background-color: #444;

  padding: 14px;

  cursor: pointer;

  transition: background-color 0.3s ease, border 0.3s ease;
}

.other-info-footer-button:hover {
  background-color: #555;
  border: 1px solid #555;
}

.other-info-footer-button-2 {
  border: 1px solid #444;
  border-radius: 22px;

  flex: 20%;

  width: 40%;

  color: #fff;
  font-weight: bold;

  background-color: #444;

  padding: 14px;

  cursor: pointer;

  transition: background-color 0.3s ease, border 0.3s ease;
}

.other-info-footer-button-2:hover {
  background-color: #555;
  border: 1px solid #555;
}

.social-medias {
  height: 60px;

  background-color: #222;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
